body {
  background-color: black;
  background-image: url('Achtergrondfivem.jfif'); 
  background-repeat: no-repeat;
  background-size: 100% 200%;
  font-family: "monaco", monospace
  color: black;
}

nav ul {
  background-color: orange;
  border-style: solid;
  border-color: PapayaWhip;
  border-width: 2px;
  padding: 10px;
  border-radius: 10px;
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    color: PapayaWhip;
}

p {
  background-color: orange;
  border-style: solid;
  border-color: PapayaWhip;
  border-width: 5px;
  padding: 10px;
  border-radius: 10px;
}

p li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    color: PapayaWhip;
}

H2 {
  background-color: orange;
  border-style: solid;
  border-color: PapayaWhip;
  border-width: 5px;
  padding: 10px;
  border-radius: 10px;
}

H2 li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    color: PapayaWhip;
}

H4 {
  background-color: orange;
  border-style: solid;
  border-color: papayawhip;
  border-width: 5px;
  padding: 10px;
  border-radius: 10px;
  width: 1200px;
  padding: 50px;
  margin: 20px;
}


}

H4 li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    color: PapayaWhip;
}

H4 {
  float: right;
}

p {
  float: left;
}

H3 {
  background-color: orange;
  border-style: solid;
  border-color: PapayaWhip;
  border-width: 5px;
  padding: 10px;
  border-radius: 10px;
  width: 1300px;
}

H3 li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    color: PapayaWhip;
}
H3 {
  float: right;
}
